* {
  margin: 0;
  padding: 0;
}

.app {
  position: relative;
  margin: 0;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(0, 0, 0, 0.9);
  top: 0;
  display: flex;
  justify-content: center;
}

.modal {
  top: 10vh;
  position: sticky;
  width: 80vw;
  height: 80vh;
  background-color: #383838;
}